<template>
  <div>
    <div id="div-mask" style="display: inline-flex;position: relative;max-width: 100%;">
      <video id="video" style="transform: scaleX(-1);max-width: 100%;"></video>
      <img src="/img/mask.png" alt="" class="mask" style="position: absolute;left: 0;top: 0;height: 100%;width: 100%;object-fit: cover;max-width: 100%;" />
    </div>
    <canvas id="canvas" class="hidden" style="max-width: 100%;display: none;"></canvas>
    <button id="capture" @click="showImageCam" style="display: block;margin: 15px 0;">Capturar</button>
    <input id="file" type="file" @change="showImageFile" style="display: block;margin: 15px 0;" />
    <button id="save" @click="sendFile" style="display: block;margin: 15px 0;">Salvar</button>
    <span id="loading" class="hidden" style="display: none;">
      <img src="/img/loading.gif" alt="loading" width="25px" />
    </span>
  </div>
</template>

<script>
export default {
  name: "WebCam",
  data() {
    return {
      image: null
    };
  },
  mounted() {
    const video = document.querySelector("#video");

    // width: { ideal: 320, max: 640 },
    // height: { ideal: 240, max: 480 }
    navigator.mediaDevices
      .getUserMedia({
        video: {
          width: { ideal: 640, max: 640 },
          height: { ideal: 480, max: 480 }
        }
      })
      .then(function(stream) {
        video.srcObject = stream;
        video.play();
      })
  },
  methods: {
    sendFile() {
      const canvas = document.querySelector("#canvas");

      this.showOrHideLoading();

      fetch("https://jsonplaceholder.typicode.com/posts", {
        method: "POST",
        body: JSON.stringify({
          id: 101,
          image: canvas.toDataURL("image/jpeg")
        }),
        headers: {
          "Content-type": "application/json; charset=UTF-8"
        }
      })
        .then(response => response.json())
        .then(json => {
          console.log(json);
          this.showOrHideLoading();
        });
    },
    showOrHideLoading() {
      document.querySelector("#save").classList.toggle("hidden");
      document.querySelector("#loading").classList.toggle("hidden");
    },
    hideVideoAndShowCanvas(video, canvas) {
      // turn off webcam
      video.srcObject.getTracks().forEach(function(track) {
        track.stop();
      });

      // hide video tag and show canvas tag
      canvas.style.display = "block";
      document.querySelector("#div-mask").style.display = "hidden";
    },
    showImageCam() {
      const video = document.querySelector("#video");
      const canvas = document.querySelector("#canvas");

      canvas.height = video.videoHeight;
      canvas.width = video.videoWidth;

      // set image canvas as frame captured in video
      const context = canvas.getContext("2d");
      context.drawImage(video, 0, 0);

      this.image = canvas.toDataURL("image/jpeg");
      this.hideVideoAndShowCanvas(video, canvas);

      const music = new Audio("/audio/camera-shutter.wav");
      music.play();
    },
    showImageFile(e) {
      const video = document.querySelector("#video");
      const canvas = document.querySelector("#canvas");
      const file = e.srcElement.files[0];

      this.hideVideoAndShowCanvas(video, canvas);

      // convert file to base64
      new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result);
        reader.onerror = error => reject(error);
      }).then(response => {
        this.image = response;

        // set image canvas as file
        const image = new Image();
        image.onload = function() {
          canvas.height = image.height;
          canvas.width = image.width;
          canvas.getContext("2d").drawImage(image, 0, 0);
        };
        image.src = response;
      });
    }
  }
};
</script>

<style lang="css" scopped>
.hidden {
  display: none !important;
}
#div-mask {
  display: inline-flex;
  position: relative;
}
.mask {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
video {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  /* mask: url(/img/mask.png); */

  /* -webkit-mask-image:url('/img/mask.png');
  -webkit-mask-position:center center;
  -webkit-mask-repeat:no-repeat;
  -webkit-mask-size:cover;

  mask-image:url('/img/mask.png');
  mask-position:center center;
  mask-repeat:no-repeat;
  mask-size:cover; */
}
#div-mask,
video,
canvas {
  max-width: 100%;
}
button,
input {
  display: block;
  margin: 15px 0;
}
</style>
